:root {
  --txt-primery-color: #757575;
  --txt-title-color: #212121;
  --txt-contact: rgba(255, 255, 255, 0.6);
  --txt-icon: #afb1b8;
  --txt-placeholder: rgba(117, 117, 117, 0.5);
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --primery-black-color: #000000;
  --background: #f5f4fa;
  --bgr-primery-dark: #2f303a;
  --bgr-primary-light: #c4c4c4;
  --bgr-icon: rgba(255, 255, 255, 0.1);
  --border-color: #eeeeee;
  --border-header: #ececec;
  --footer-subscribe: rgba(255, 255, 255, 0.6);
  --transition-property: color, fill, background-color, box-shadow, border-color;
  --transition-duration-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--primery-white-color);
  font-family: 'Roboto', sans-serif;
  color: var(--txt-primery-color);
  letter-spacing: 0.03em;
  padding: 0px;
  margin: 0px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
nav {
  display: flex;
  align-items: center;
}
.visible-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.change.current {
  color: var(--accent-color);
}
.change.current::after {
  position: absolute;
  top: 76px;
  display: block;
  bottom: 0px;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.change:hover,
.change:focus {
  color: var(--accent-color);
}
.change:hover,
.change:focus {
  fill: var(--accent-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER SECTION */
.header {
  width: 1200px;
  height: 80px;
  border-bottom: 1px solid var(--border-header);
  margin: 0 auto;
  padding: 0 15px;
}
.header-nav {
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
.logo-web {
  margin-right: 93px;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: var(--transition-property), var(--transition-duration-timing);
}
.header .logo-studio {
  color: var(--primery-black-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.site-nav {
  display: flex;
  transition: var(--transition-property), var(--transition-duration-timing);
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.nav-page {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--txt-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}
.nav-page.current {
  position: relative;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}
.site-contact {
  display: flex;
  margin-left: auto;
  transition: var(--transition-property), var(--transition-duration-timing);
}
.site-contact .nav-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
}
.nav-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-contact .item + .item {
  margin-left: 50px;
}
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: var(--transition-property), var(--transition-duration-timing);
}
.nav-page:hover,
.nav-page:focus,
.site-contact .item:hover,
.site-contact .item:focus {
  color: var(--accent-color);
}

/* HERO SECTION */

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--bgr-primery-dark);
  color: var(--primery-white-color);
  height: 600px;
  max-width: 1600px;
  display: block;
  margin: 0 auto;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/bgd-main-opt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: var(--transition-property), var(--transition-duration-timing);
}


/* ADVANTAGES SECTION */
.section-advantages {
  max-width: 1600px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: auto;
}

.advantages {
  display: flex;
  margin: -15px;
}

.advantages .item {
  width: 270px;
  margin: 15px;
}
.advantages-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
  background-color: var(--background);
}
.advantages-icons .icon {
  width: 70px;
  height: 70px;
}
.secondary-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--txt-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* JOB SECTION */
.job-section {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 94px;
}

.job-images {
  display: flex;
}

.job-image:not(:last-child) {
  margin-right: 30px;
}

.job-image {
  position: relative;
  z-index: 0;
}

.case-item {
  position: absolute;
  width: 370px;
  height: 70px;
  font-style: normal;
  bottom: 0px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primery-white-color);
  text-align: center;
  padding: 13px 15px;
  background: rgba(47, 48, 58, 0.8);
  z-index: 1;
}

/* TEAM SECTION */

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--txt-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  width: 100%;
  background-color: var(--background);
}
.team-container {
  width: 1200px;
  height: 705px;
  padding: 94px 0;
  margin: 0 auto;
}
.team-faces {
  display: flex;
  align-items: center;
  width: 1170px;
  margin-right: 0;
}

.team-card:not(:last-child) {
  margin-right: 38px;
}
.team-card {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-content {
  padding: 30px 10px;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: var(--txt-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-position {
  margin: 0 0 16px 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-content ul {
  display: flex;
  justify-content: center;
}

.icon {
  fill: currentColor;
  display: block;
  transition: var(--transition-property), var(--transition-duration-timing);
}

.section-icon {
  display: inline-block;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--txt-icon);
  transition: var(--transition-property), var(--transition-duration-timing);
  
}
.section-icon:hover,
.section-icon:focus,
.section-icon:hover svg,
.section-icon:focus svg{
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  transition: var(--transition-property), var(--transition-duration-timing);

}
/* ---------------CLIENTS------------------ */

.client {
  width: auto;
  margin: auto;
}
.client-logo {
  display: flex;
}
.client-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition: var(--transition-property), var(--transition-duration-timing);
}
.client-icon:hover,
.client-icon:focus,
.client-icon:hover svg,
.client-icon:focus svg {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transition: var(--transition-property), var(--transition-duration-timing);
}

.client-logo li:not(:last-child) {
  margin-right: 30px;
}

.client-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--txt-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}


/* --------------FOOTER--------------- */
.footer {
  width: auto;
  background: #2f303a;
  margin: auto;
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}
.footer-container {
  width: 1200px;
  height: 705px;
  padding: 94px 0;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}
.contacts-box {
  margin-right: 90px;
}
.logo.l-white {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
  
}
.logo-studio {
  color: var(--accent-color);
}
.main-address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  
}
.address-card {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  margin-bottom: 9px;
}
.address-card,
.contacts-footer {
  margin-bottom: 9px;
}
.contacts-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--txt-contact);
  transition: var(--transition-property), var(--transition-duration-timing);
}
.contacts-footer:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  margin-right: 93px;
}
.footer-social .icon-item:not(:first-child) {
  margin-left: 10px;
}
.footer-social .icon-link {
  fill: #ffffff;
  background-color: var(--bgr-icon);
  transition: var(--transition-property), var(--transition-duration-timing);
}
.footer-social .icon-link:hover,
.footer-social .icon-link:focus {
  background-color: var(--accent-color);
  transition: var(--transition-property), var(--transition-duration-timing);
}
.appeal {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
.icon-box {
  display: flex;
  justify-content: space-between;
}
.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: rgba(175, 177, 184, 1);
  transition: var(--transition-property), var(--transition-duration-timing);
}
.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}
.logo-social {
  width: 20px;
  height: 20px;
}

.address-card,
.contacts-footer {
  margin-bottom: 9px;
}
.contacts-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--txt-contact);
  transition: var(--transition-property), var(--transition-duration-timing);
}
.footer-call-to-action {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.form-group-footer {
  display: flex;
  align-items: flex-end;
  margin-right: auto;
}

.footer-subscribe-email {
  margin-right: 12px;
  padding: 14px 16px;
  border: 1px solid var(--footer-subscribe);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  min-width: 358px;
}
.footer-subscribe-email,
.footer-subscribe-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-subscribe);
}
.footer-subscribe-button {
  transition: var(--transition-property), var(--transition-duration-timing);
  padding: 10px 28px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  border-width: 0;
}
.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.footer-subscribe-icon {
  margin-left: 10px;
  fill: var(--primery-white-color);
}

/* ----------------------MODAL---------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: var(--transition-property), var(--transition-duration-timing);
  z-index: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop .is-hidden .modal {
  transform: translate(-50%, 150%);
  opacity: 0;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 20px;
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform, var(--transition-duration-timing);
  
  
}
.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primery-white-color);
  transition: var(--transition-property), var(--transition-duration-timing);
}

.close-modal :hover,
.close-modal :focus {
  /* color: var(--accent-color); */
  cursor: pointer;
}
.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* fill: currentColor; */
}
.close-icon:hover,
.close-icon:focus {
  fill: var(--accent-color); 
}

.modal-call-to-action 
{
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--txt-title-color);
}

.modal-form {
  width: 448px;
}
.form-group,
.form-group-comment {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  transition: all, var(--transition-duration-timing);
  
}
.form-group:focus-within,
.form-group:hover {
  color: var(--accent-color);
}
.form-group:focus-within svg,
.form-group:hover svg {
  fill: var(--accent-color);
}

.form-group-comment {
  margin-bottom: 20px;
}
.modal-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--txt-primery-color);
}
.modal-input {
  padding: 12px 14px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border-color, var(--transition-duration-timing);
}
.modal-input:focus-within,
.modal-input:hover,
.modal-comment:focus-within,
.modal-comment:hover
 {
  border-color: var(--accent-color);
  outline: none;
  
}
.modal-input:focus,
.modal-comment:focus,
.modal-input:hover,
.modal-comment:hover {
  cursor: pointer;
  
}

.modal-icon-container {
  display: flex;
  position: absolute;
  left: 12px;
  bottom: 11px;
}

.modal-icon {
  transition: all, var(--transition-duration-timing);
  fill: var(--txt-title-color);
}

.modal-comment {
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border-color, var(--transition-duration-timing);
}
.modal-comment::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--txt-placeholder);
}
.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
}
.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-primery-color);
}
.modal-checkbox-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-label-agree::after {
  content: '';
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--txt-title-color);
  border-radius: 4px;
  margin-right: 7px;
  transition: all var(--transition-duration-timing);
}
.modal-checkbox-hidden:checked + .modal-label-agree::after {
  background-color: var(--accent-color);
  background-image: url('../images/icon-check.svg');
  background-origin: border-box;
  background-size: contain;
  border-color: var(--accent-color);
}
.modal-checkbox-hidden:focus + .modal-label-agree::after {
  border-color: var(--accent-color);
}
.modal-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-left: 0.25em;
  color: var(--accent-color);
  text-decoration: underline;
}
.modal-submit {
  transition: all, var(--transition-duration-timing);
  display: block;
  margin: 0 auto;
  padding: 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background: var(--accent-color);
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}


/*------------------PORTFOLIO---------------------*/
.portfolio-section {
  padding-bottom: 94px;
  padding-top: 92px;
}
.portfolio-img {
  display: block;
  height: auto;
  min-width: 0;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-container li:not(:last-child) {
  margin-right: 8px;
}

.btn-portfolio {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  background-color: var(--background);
  color: var(--txt-title-color);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* PROJECTS */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.projects {
  width: 370px;
  margin: 15px;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link {
  display: block;
  font-size: 100%;
  transition: var(--transition-property), var(--transition-duration-timing);
}
.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-image-caption {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform, var(--transition-duration-timing);
}
.portfolio-link:hover .portfolio-image-caption,
.portfolio-link:focus .portfolio-image-caption {
  transform: translateY(0%);
}
.portfolio-image-caption-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primery-white-color);
}

.portfolio-content {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  height: 111px;
}

.project-name {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--txt-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  width: 320px;
  height: 36px;
}

.project-type {
  margin: 0;
  font-weight: 400;

  color: var(--txt-primery-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

