:root {
    --txt-primery-color: #757575;
    --txt-title-color: #212121;
    --txt-contact: rgba(255, 255, 255, 0.6);
    --txt-icon: #afb1b8;
    --txt-placeholder: rgba(117, 117, 117, 0.5);
    --accent-color: #2196f3;
    --primery-white-color: #ffffff;
    --primery-black-color: #000000;
    --background: #f5f4fa;
    --bgr-primery-dark: #2f303a;
    --bgr-primary-light: #c4c4c4;
    --bgr-icon: rgba(255, 255, 255, 0.1);
    --border-color: #eeeeee;
    --border-header: #ececec;
    --footer-subscribe: rgba(255, 255, 255, 0.6);
    --transition-property: color, fill, background-color, box-shadow, border-color;
    --transition-duration-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  